
html, body {
    /*overflow: hidden;*/
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
}

hr {
    display: none;
}

table, tr td {
}

tbody {
    display: block;
    max-height: 435px;
    /*overflow-y: scroll;*/
}

    thead, tbody tr {
        display: table;
        width: 100%;
        font-size: 14px;
        table-layout: fixed;
        word-wrap: break-word;
    }

.report-title {
    background: #ddd;
    padding: 4px;
    margin: 0px;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
    padding-bottom: 20px;
}

legend {
    padding: 2px;
    border-bottom: hidden;
    margin-bottom: 1px !important;
}

.nav-tabs > li > a {
    color: white;
}

.csvstyle {
    background-image: url('../Images/excel-icon.png');
    background-color: transparent;
    height: 34px;
    width: 34px;
    float: right;
    margin-top: -35px;
    margin-right: 50px;
    cursor: pointer;
    border: 0px;
}

.pdfstyle {
    background-image: url('../Images/print-icon.png');
    background-color: transparent;
    height: 34px;
    width: 34px;
    float: right;
    margin-top: -35px;
    margin-right: 10px;
    cursor: pointer;
    border: 0px;
}

.resultsheading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
